body {
  margin: 0;
  overflow-x: hidden;
  * {
    outline: none;
    box-sizing: border-box;
  }

  #app {
    margin: 0;
  }

  main {
    padding: 0 1em;
  }

  div[content] {
    margin-top: 80px;
    @media screen and (min-width: 640px) {
      height: 75vh;
    }
    > .column {
      &__primary {
        @apply md:order-2 w-full md:w-1/2 my-5;
      }
      &__secondary {
        @apply w-full md:w-1/4 my-5 px-3;
      }
    }
  }
}
