body {
  margin: 0;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }

  #app {
    margin: 0;
    section {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      height: 100vh;
      justify-content: space-around;
      margin: 0 auto;
      width: 100vw;
    }
  }

  main {
    padding: 0 1em;
  }
}
