$upArrow: green;
$downArrow: red;

.price-arrow {
  display: inline-block;
  border: 10px solid transparent;

  &__up,
  &__down {
    display: inline-block;
    width: 10px;
    border-radius: 50%;
    margin: 0 10px;
  }
  &__up {
    border-top: 10px solid $upArrow;
  }
  &__down {
    border-bottom: 10px solid $downArrow;
  }

  &--text {
    &__up {
      color: $upArrow;
    }
    &__down {
      color: $downArrow;
    }
  }
}
