.rollercoaster {
  transform: rotate(-90deg);
  transition: 2s;
  &--up {
    transform: rotate(-181deg);
    &__slow {
      transform: rotate(225deg);
    }
  }
  &--down {
    transform: rotate(0deg);
    &__slow {
      transform: rotate(315deg);
    }
  }
  video,
  img {
    border-radius: 50%;
    margin: 0 auto;
    height: 240px;
    width: 240px;
    object-fit: cover;
    @media screen and (min-width: 762px) {
      height: 350px;
      width: 350px;
    }
  }
}
