.rollercoaster {
  transform: rotate(-90deg);
  transition: 2s;
  &--up {
    transform: rotate(-180deg);
    &__slow {
      transform: rotate(225deg);
    }
  }
  &--down {
    transform: rotate(0deg);
    &__slow {
      transform: rotate(315deg);
    }
  }
  img {
    border-radius: 50%;
    margin: 0 auto;
    max-height: 340px;
    max-width: 340px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
